<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../public/images/favicon.ico">

    <title>Law Firm - Cases</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="../../public/main/css/vendors_css.css">

    <!-- Style-->
    <link rel="stylesheet" href="../../public/main/css/style.css">
    <link rel="stylesheet" href="../../public/main/css/skin_color.css">

    <!-- Fontawesome 5,6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Themify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">

    <style>
        div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
            padding-left: 0;
        }

        .dataTables_filter {
            float: none !important;
        }
    </style>

</head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

    <div class="wrapper">
        <div id="loader"></div>



        <%- include('../partials/header') %>
            <%- include('../partials/sidebar') %>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <div class="container-full">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="d-flex align-items-center">
                                <div class="me-auto">
                                    <h4 class="page-title">Fees Section</h4>
                                    <div class="d-inline-block align-items-center">
                                        <nav>
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="/admin/dashboard"><i
                                                            class="fa-solid fa-house"></i></a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Fees</li>
                                            </ol>
                                        </nav>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Main content -->
                        <section class="content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box">
                                        <div class="box-body">
                                            <div class="table-responsive rounded card-table">
                                                <table class="table border-no" id="example1">
                                                    <thead>
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>User Name</th>
                                                            <th>Party Name</th>
                                                            <th>Advanced Given</th>
                                                            <th>Pending Fees</th>
                                                            <th>Total Fees</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if (feesData.length> 0) { %>
                                                            <% for (let i=0; i < feesData.length; i++) { %>
                                                                <tr class="hover-primary">
                                                                    <td>
                                                                        <%= i+1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= feesData[i].user_name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= feesData[i].party_name %>
                                                                    </td>
                                                                    <td class="text-success">
                                                                        <%= feesData[i].advance_payment %>
                                                                    </td>
                                                                    <td class="text-danger">
                                                                        <%= feesData[i].pending_payment %>
                                                                    </td>
                                                                    <td>
                                                                        <%= feesData[i].total_payment %>
                                                                    </td>
                                                                    <td>
                                                                        <div class="btn-group">

                                                                            <i style="color: green;cursor: pointer;"
                                                                                class="fa fa-pencil-square-o"
                                                                                aria-hidden="true" onclick="editItem(
                                                                                    '<%= feesData[i]._id %>',
                                                                                    '<%= feesData[i].advance_payment %>',
                                                                                    '<%= feesData[i].pending_payment %>',
                                                                                    '<%= feesData[i].total_payment %>'
                                                                                    )" data-bs-toggle="modal"
                                                                                data-bs-target="#modal-center"></i>

                                                                            <i style="color: red;cursor: pointer;margin-left: 15px;"
                                                                                class="fa fa-print" aria-hidden="true"
                                                                                onclick="generatePDF('<%= feesData[i]._id %>')"></i>

                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% } else { %>
                                                                        <tr>
                                                                            <td colspan="2" class="text-center">No
                                                                                Fees Available
                                                                            </td>
                                                                        </tr>
                                                                        <%}%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                </div>
                <!-- /.content-wrapper -->


                <!-- Edit Modal -->
                <div class="modal center-modal fade" id="modal-center" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> Edit
                                    Fees Details</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <hr>
                            <form id="caseForm" class="form" method="post">
                                <div class="modal-body">
                                    <!-- <input type="text" id="editName" name="editName"> -->

                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">Total Fees</label>
                                                    <input required type="text" class="form-control"
                                                        placeholder="Total Payment" name="total_payment"
                                                        id="totalPayment">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Advance Fees</label>
                                                    <input required type="text" class="form-control"
                                                        placeholder="Advance Payment" name="advance_payment"
                                                        id="advancePayment">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Pending Fees</label>
                                                    <input required type="text" class="form-control"
                                                        placeholder="Pending Payment" name="pending_payment"
                                                        id="pendingPayment">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer modal-footer-uniform">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary float-end"
                                        onclick="saveChanges()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.modal -->


                <!-- Vendor JS -->
                <script src="../../public/main/js/vendors.min.js"></script>
                <script src="../../public/main/js/pages/chat-popup.js"></script>
                <script src="../../public/assets/icons/feather-icons/feather.min.js"></script>

                <!-- <script src="../../public/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script> -->

                <!-- Law Firm App -->
                <script src="../../public/main/js/template.js"></script>
                <!-- <script src="../../public/main/js/pages/dashboard.js"></script> -->

                <!-- SweetAlert2 -->
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
                <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap4.min.js"></script>

                <script>
                    $(document).ready(function () {
                        // Initialize DataTables with custom options
                        var table = $('#example1').DataTable();
                    })
                </script>

                <!-- Print Detials -->
                <script>
                    function generatePDF(id) {
                        fetch('/admin/download-invoice/' + id)
                            .then(response => response.text())
                            .then(html => {
                                const hiddenIframe = document.createElement('iframe');
                                hiddenIframe.style.display = 'none';
                                document.body.appendChild(hiddenIframe);

                                // Write the HTML content to the iframe
                                hiddenIframe.contentDocument.write(html);
                                hiddenIframe.contentDocument.close();

                                // Trigger the print dialog
                                setTimeout(() => {
                                    hiddenIframe.contentWindow.print();
                                }, 500);
                            });
                    }
                </script>

                <!-- Edit Details -->
                <script>
                    let dataID;
                    function editItem(id, advancePayment, pendingPayment, totalPayment,) {
                        dataID = id;

                        document.getElementById('advancePayment').value = advancePayment;
                        document.getElementById('pendingPayment').value = pendingPayment;
                        document.getElementById('totalPayment').value = totalPayment;
                    }

                    function saveChanges() {
                        const editedadvancePayment = document.getElementById('advancePayment').value;
                        const editedpendingPayment = document.getElementById('pendingPayment').value;
                        const editedtotalPayment = document.getElementById('totalPayment').value;

                        const data = {
                            advance_payment: editedadvancePayment,
                            pending_payment: editedpendingPayment,
                            total_payment: editedtotalPayment,
                        };

                        fetch(`/admin/editFeesDetails/${dataID}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json())
                            .then(data => {
                                if (data.success == true) {
                                    $("#modal-center").modal('hide');
                                    Swal.fire({
                                        title: "Success",
                                        text: data.message,
                                        icon: "success"
                                    }).then(() => {
                                        window.location.href = "/admin/fees";
                                    })
                                } else {
                                    $("#modal-center").modal('hide');
                                    Swal.fire('Error', data.message, "error");
                                }
                            }).catch((error) => {
                                $("#modal-center").modal('hide');
                                Swal.fire('Error', error.message, "error");
                            })

                    }

                </script>

</body>

</html>